
body{
	background-color:#f1f7f8;
}
.indexbox { 
	background: #f1f7f8; 
	border: 1px solid #c0c0b3; 
	padding: 1px 0px; 
}
.indextitle{
	  background:#5c6878;
	  padding:5px 0px;
	  text-align:center;
	  font-size:13px;
	  font-weight:bold;
	  color:white;  
	  line-height:22px;
	  width:100%;
}
.indexbox table th {
	background: #DFDFD4;
	border:0px; 
	padding: 2px 5px; 
	line-height: 22px;
	font: 12px/1.6em Arial,sans-serif;
	color: #000000; 
}
.indexbox table td {
	padding-top:8px 0px;
	height:30px;
	vertical-align:center;
	border-top: 1px solid #c0c0b3;
	font: 12px/1.6em Arial,sans-serif;
}
.indexbox table td a{						
		color: #000;
		text-decoration:none;
}
.indexbox table td  a:hover{
		font-weight:bold;
		color:black;
		text-decoration:underline;
}
.onRow{
	background: #95bcce; 
}
.outRow{
	background: #f1f7f8; 
}

.purple a:hover{
		color:#800080;
		text-decoration:underline;
}
/*回复问题列表的css*/
.revert { 
	background:#f1f7f8; 
	border:1px solid #c0c0b3;
	width:100%;	
	padding:1px 1px;
	margin-top:0px;
	margin-bottom:7px;
}
.revert h1{
		font-size:13px; 
		padding-left: 1em; 
		padding-top:4px;
		padding-bottom:3px;
		margin:0px 0px;
		background: #5c6878;
		margin:0px;
		color: #FFFFFF; 
}
.revert table {
	width: 100%; 
	font-size:13px;
}
/*作者栏css开始*/
.revert table td.author{ 
	vertical-align: top;	
	padding: 6px 6px 0px 6px;
	border:0px; 
	width:15%;
	height: 0px;
	background: #95bcce;
}
.author span { /*uid的css*/
	text-align:left;
	float:left;
	border-bottom:1px solid #c0c0b3;
	font-weight: bold;	
	height: 15px;
	width:100%;
	magin-bottom:1px;
	}
.author p { 
	margin: 2px 10px;
	font-weight:normal;
	font-size:12px;
}
.author p em{
	color:#090;
	font:13px Arial;
}
div.tx { 
	margin: 5px; 
	text-align: center; 
	width: 160px;
	overflow: hidden;
	border:0px solid red;
}
/*作者栏css结束*/
/*帖子内容css开始*/
.revert table td.nr{ 
	vertical-align: top;
	padding: 6px 6px;
	border:0px; 
	width:80%;
	background: #f1f7f8;
	}
.nr span { /*uid的css*/
	float:left;
	border-bottom:1px solid #c0c0b3;
	padding:2px 0px;
	height: 15px;
	width:100%;
	}
.nr span em {
	float:right;
	padding:0 3px;
	color:#459900;
	font-weight:bold;
	font:13px Arial;
	}
.nr h2{
	font-size:14px;
	font-weight:bold;
	margin:8px 2px;
	color:black;
}
.nr h3{
	font-size:15px;
	font-weight:normal;
	margin:8px 2px;
	color:black;
}
.sign { /*个性签名*/
	overflow: hidden; 
	height: expression(sign(this)); 
	max-height: 80px; 
	background: url(../images/signline.gif) ;
	no-repeat 0 0; 
	margin: 50px 0px;
	padding-top:20px; 
	color: #000000; 
	}
.operate { 
	border-top: 1px solid #95bcce; 
	background: #f1f7f8; 
	line-height: 10px; 
	height: 15px; 
	vertical-align:middle;
	padding: 0 10px; 
}
.operate p { 
	float: right;
	}
.operate p a{
	 cursor:hand;
	 color:black;
	 padding:0px 3px;
	 text-decoration:none;
}
.operate p a:hover{
	 color:black;
	 text-decoration:underline;
}
/*问题内容css开始*/

/*回复问题表单的css开始*/
.hf{
	width=100%;
	background:#f1f7f8;
	border:1px solid #95bcce;
	margin-bottom:8px;
	height:250px;
}
.hf h4{
	margin:8px 12px;
	font-size:13px;
}
.notice{
	float:left;
	margin:4px 15px;
}
.notice p{
	margin: 2px 0.7em;
	padding:5px 6px;
}
.hf table{
	margin:0px 10px
}
.hf table td{
	vertical-align: top;
	font-size:13px;
}
/*发起问题表单的css开始*/
.tw{
	width=100%;
	background:#f1f7f8;
	border:1px solid #95bcce;
	margin-bottom:8px;
	height:315px;
}
.left{
	float:left;

}
.tw h4{
	margin-top:15px;
	margin-left:15px;
	margin-bottom:2px;
	font-size:13px;
}
 .notice2{
	float:left;
	margin-top:12px;
	margin-left:15px;
}
 .notice2 p{
	margin: 2px 0.7em;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:6px;
}
.tw table{
	margin:15px 30px
}
.wtbt{																/*问题标题的css*/
	border-bottom:1px solid #c0c0c0;
	border-right:1px solid #c0c0c0;
	width:40em;
}
.tw table td{
	vertical-align: top;
	font-size:13px;
}

/*个人页面的table的css*/
.myinfo{
	/*border:1px solid red;*/
	margin-top:0px;
	padding-top:0px;
	margin-bottom:8px;
	width:100%;
}
/*右侧导航菜单的css*/
.leftmenu{
	border:1px solid #95bcce;
	background:#f1f7f8;
	height:330;
}
.leftmenu h2{
	padding-left:10px; 
	line-height: 2.4em; 
	font-size: 15px; 
	border: 1px solid; 
	border-color: #f1f7f8 #f1f7f8 #95bcce #f1f7f8;
}
.leftmenu p{
	padding-left: 1.5em;
	margin:0px 0px;
	padding-bottom:15px;
}
.leftmenu a{	
	font-size:13px;
	text-align:right;
	width:70px;
	text-decoration:none;
	color:black;
}
.leftmenu a:hover{
	vertical-align:center;
	text-decoration:underline;
	color:black;
	background:url(../images/right.gif) no-repeat;
}
.menuon{
	font-weight:bold;
	color:black;
	background:url(../images/right.gif) no-repeat;
}
/*个人资料的css*/
.info{
	padding:1px 1px;
	border: 1px solid; 
	border-color:#C0C0B3;
	width:815;
	float:right;
	height:330px;
}
.info h3{
	padding:8px 10px;
	background:#5c6878;
	color:white;
	font-size:15px;
	margin-bottom:0px;
}
.info table{
	width:100%;
	height:90%;
	padding:0px 0px;
	margin:0px 0px;
}
.info table td{
	padding:0 0;
	vertical-align:top;
}
.pic{
	margin-top: 30px;
	padding-top: 5px;
	text-align: center; 
	width: 150px; 
	height:200px;
	overflow: hidden;
	/*border:1px solid red;*/
}
/*个人资料文字信息*/
.msginfo{
	background: #f1f7f8; 
	width:80%;
}
.msginfo table td{
	width:50%;
	vertical-align:middle;
	border-bottom:1px solid #c0c0b3;
	font: 12px/1.6em Arial,sans-serif;
	padding:8px 5px;
}
/*修改密码表单*/
.changePwd{
	background: #f1f7f8; 
	padding:1px 1px;
	border: 1px solid; 
	border-color:#C0C0B3;
	width:815;
	float:right;
	height:330px;
}
.changePwd h3{
	padding:8px 10px;
	background:#5c6878;
	color:white;
	font-size:15px;
	margin-bottom:0px;
}
.changePwd table{
	font-size:14px;
	color: #404040;
	font: Arial,sans-serif;
	margin-top:60px;

}
/*修改资料*/
.changeInfo{
	background: #f1f7f8; 
	padding:1px 1px;
	border: 1px solid; 
	border-color:#C0C0B3;
	width:815;
	float:right;
	height:330px;
}
.changeInfo h3{
	padding:8px 10px;
	background:#5c6878;
	color:white;
	font-size:15px;
	margin-bottom:0px;
}
.changeInfo table{
	font-size:14px;
	color: #404040;
	font: Arial,sans-serif;
	margin-top:20px;
}